<div class="article-comments">
	<% @comments.each do |comment| %>
		<div class="row">
			<hr>
			<p>
				<%= comment.article.user.first_name %> <small><em> <%= "#{(comment.created_at)} ago" %> </em></small>
			</p>
			<p>
				<%= comment.body %>
			</p>
		</div>
	<% end %>
</div>