<div class="article-comments">
	<% @comments.each do |comment| %>
		<div class="row">
			<hr>
			<p>
				<%= comment.article.user.first_name if comment.article.user.first_name %> <small><em> <%= "#{time_ago_in_words(comment.created_at) unless comment.created_at.blank? } ago" %> </em></small>
			</p>
			<p>
				<%= comment.body %>
			</p>
		</div>
	<% end %>
</div>