// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {box-sizing: border-box;}
@font-face {
  font-family: 'blowbrush';
  src: font-url('blowbrush.eot'); /* IE9 Compat Modes */
  src: font-url('blowbrush.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		   font-url('blowbrush.woff2') format('woff2'), /* Super Modern Browsers */
       font-url('blowbrush.woff') format('woff'), /* Pretty Modern Browsers */
       font-url('blowbrush.ttf')  format('truetype'), /* Safari, Android, iOS */
       font-url('blowbrush.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'fofer';
  src: font-url('Fofer.eot'); /* IE9 Compat Modes */
  src: font-url('Fofer.otf') format('opentype'), /* IE6-IE8 */
		   
}
@font-face {
  font-family: 'Netsrak';
  src: font-url('Netsrak.eot'); /* IE9 Compat Modes */
  src: font-url('Netsrak.otf') format('opentype'), /* IE6-IE8 */
		   
}
$color_one: #51456B; //dark purpul
$color_two: #B7C29D; //laurel green (sabze morde)
$color_three: #6F5F94; //light purpul
$color_four: #878E8F; //grayish green

.navbar {
	background-color: #fff;
	color: red;
	border-radius: 0;
	margin-bottom: 0;
}
.navbar-default .navbar-brand {
	font-family: 'blowbrush';
	font-size: 30px;
	color: $color_three;

}

#notice {
	margin: 0;
}
.navbar-toggle {
 	display: block;
 }
 
.modal-content{
	background-color: $color-three;

	ul {
		list-style:none;
		text-align: center;
		padding: 0;
	}
	ul li a {
		display: block;
		height: 3em;
		padding-top: 1em;
	color: $color-two;
	font-size: 3em;
	}

				-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";       /* IE 8 */
			-moz-opacity: 0.7;          /* Netscape */
		-khtml-opacity: 0.7;        /* Safari 1.x */
						filter: alpha(opacity=70);  /* IE 5-7 */

					 opacity: 0.7;               /* Good browsers */				
}

body {
  // background-color: #E9F29D;
  }

	body h1{
		display: inline-block;
	  font-family: 'Netsrak';
	  font-size: 1.4em;
	  border-top: 2px double $color_one;
	  border-bottom: 2px solid $color_one;
	  padding: 6px 5px;

	}
 .jumbotron {
 	background-color: $color_two;
	border-bottom: 4px dashed $color_three;

 }
.post-list {
	h2 {
	font-family: 'blowbrush';
	text-transform : uppercase;
	font-weight: bold;
	font-size: 2em;
	padding: 0 10px;
	margin-bottom: 0;
	}

	h2 a{
 	color: $color_one;
 	transition: color , 500ms;
	}

	h2 a:hover{
	color: $color_three;
	background: none;
	text-decoration: none;}

}
.last_article {
	// padding: 40px 0;
	margin-bottom: 15px;
	line-height: 2.3em;
}
.post-list .post-body {
		padding: 10px 20px;
		background: url("fonts/blowbrush/instagram.jpg");
	  font-size: 1.4em;
	  font-family: 'Netsrak';
}

.post-preview {
	margin-top: 4em;
}
.post-show .post-body {
		line-height: 2em;

}

.post-show .post-image {
	padding: 2.5em 0;
}

.post-image {
	text-align: center;

	img {
		border: 2px solid $color_four;
		margin: auto;
	}
}

.footer{
	width: 100%;
	height: 100px;
	background-color: #fff;
	//bottom: 0;
	left: 0;
	position: absolute;
	margin-bottom: 0;
	p {
		padding-top: 1em;
		padding-left: 1em;
	  font-family: 'Netsrak';
  	font-size: 1.8em;
  	margin-top: 1em;

  	}
}

